<template>
    <div class="v-catalog-product" @click="openProduct">
        <v-product v-if="infoProductOn" :productName="product_data.title" @closeProduct="infoProductOff">
            <img class="img-open" :src="product_data.image">
            <div>
                <p class="price-open">{{product_data.price}}$</p>
                <p class="category-open">{{product_data.category}}</p>
                <p class="rate-open">{{product_data.description}}</p>
                <p class="rate-open">&#9733;{{product_data.rating.rate}}</p>
                <p class="count-open">✎{{product_data.rating.count}}</p>
            </div>
        </v-product>
        <div class="image">
            <img class="img" :src="product_data.image">
        </div>
        <p class="title">{{product_data.title}}</p>
        <p class="price">{{product_data.price}}$</p>
        <p class="category">{{product_data.category}}</p>
        <p class="rate">&#9733;{{product_data.rating.rate}}</p>
    </div>
</template>

<script>
    import vProduct from './v-product.vue'

    export default{
        name: 'v-catalog-product',
        components:{
            vProduct
        },
        props:{
            product_data:{
                type: Object,
                default(){
                    return {}
                }
            }
        },
        data(){
            return{
                infoProductOn: false
            }
        },
        methods:{
            openProduct(){
                this.infoProductOn = true;
            },
            infoProductOff(){
                this.infoProductOn = false;
                console.log(12)
            }
        }
    }
</script>

<style>
    .img{
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .image{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .img-open{
        max-width: 200px;
        max-height: 200px;
    }
    .v-catalog-product{
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 67px;
    }
</style>
