<template>
    <div class="v-categories">
        <label>Select category: </label>
        <select class="select" @change="selectCategory" v-model="selected">
            <option v-for="category in category_list" :key="category">{{category}}</option>
        </select>
    </div>
</template>

<script>
    export default{
    mounted(){
        fetch('https://fakestoreapi.com/products/categories')
        .then(res => res.json())
        .then(json =>{
            this.category_list = json;
            this.category_list.unshift('all');
        })
    },
    data(){
        return{
            selected: 'all',
            category_list:{}
        }
    },
    methods:{
        selectCategory(){
            this.$emit('select', this.selected);
        }
    },
}
</script>

<style>
    .select{
        margin-bottom: 10px;
    }
</style>