<template>
    <div class="v-catalog">
        <h1>Catalog</h1>
        <v-categories @select="sortCategory"></v-categories>
        <div class="v-catalog-products" v-if="sortedProducts.length">
            <v-catalog-item v-for="product in paginatedData" :key="product.id" :product_data="product"></v-catalog-item>
        </div>
        <div class="v-catalog-pagination" v-if="sortedProducts.length && pageCount > 1">
                <div class="v-catalog-page" v-for="page in pageCount" :key="page" @click="selectPage(page-1)">{{page}}</div>
        </div>
    </div>
</template>

<script>
    import vCatalogItem from './v-catalog-product.vue'
    import vCategories from './v-categories.vue'

    export default{
        name: 'v-catalog',
        components:{
            vCatalogItem,
            vCategories
        },
        props:{

        },
        data(){
            return{
                product_list:{},
                sorted_list:{},
                pages: 0,
                products_on_page: 10
            }
        },
        mounted(){
            fetch('https://fakestoreapi.com/products')
            .then(res => res.json())
            .then(json =>{
            this.product_list = json
            });
        },
        methods:{
            sortCategory(category){
                this.sorted_list = [];
                let temp = this;
                this.product_list.map(function (product){
                    if (product.category === category){
                        temp.sorted_list.push(product);
                    }
                })
            },
            selectPage(page){
                this.pages = page
            }
        },
        computed:{
            sortedProducts(){
                if (this.sorted_list.length){
                    return this.sorted_list
                }
                else{
                    return this.product_list
                }
            },
            pageCount(){
                return Math.ceil(this.sortedProducts.length / this.products_on_page);
            },
            paginatedData(){
                const from = this.pages * this.products_on_page,
                to = from + this.products_on_page;
                if(this.sortedProducts.length < from){
                    return this.sortedProducts
                }
                else{
                    return this.sortedProducts.slice(from, to);
                }
            }
        },
    }
</script>

<style>
    .v-catalog{
        max-width: 1100px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .v-catalog-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .v-catalog-pagination{
        display: flex;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        margin-top: 40px;
        font-size: 20px;
    }
</style>