<template>
    <div class="v-main-wrapper">
        <v-catalog></v-catalog>
    </div>
</template>

<script>
    import vCatalog from './v-catalog.vue'

    export default{
        name: 'v-main-wrapper',
        components:{
            vCatalog
        },
        props:{

        },
        computed:{

        },
        methods:{

        },
        watch:{
            
        },
        mounted(){
            
        }
    }
</script>

<style>
    .main-wrapper{
        max-width: 1100px;
        margin: 0 auto;
    }
</style>