<template>
    <div class="wrapper-open">
        <div class="v-product">
            <div class="v-product-main">
                <h1>{{productName}}</h1>
                <button @click="closeProduct" onclick="event.stopPropagation()">Close</button>
            </div>
            <div class="v-product-info">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'v-product',
        props:{
            productName:{
                type: String,
                default: 'Name'
            }
        },
        data(){
            return{

            }
        },
        methods:{
            closeProduct(){
                this.$emit('closeProduct')
            }
        },
    }
</script>

<style>
    .wrapper-open{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000db;
        z-index: 50;
    }
    .v-product{
        max-width: 1200px;
        max-height: 700px;
        position: fixed;
        padding-top: 13px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        left: 0;
        right: 0;
        top: 25%;
        margin: 0 auto;
        background-color: white;
        z-index: 100;
        
    }
    .v-product-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .v-product-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>